/* Top Section Background ---------------------------------- */

#signin-card {

 background-color: gray;
  max-width: 700px;
  margin: auto;
  
  align-self: center;
  align-content: center;
  text-align: center;
  align-content: center;
  align-items: center important !;
  display: 'flex';
  justify-content: center;
  flex-direction: row;
  font-size: 1em;
  font-family: 'Abel', sans-serif;
}



 #signinFormButton {
  margin-left: -2.5em;
  border-radius: 50px;
  border: 0pt;
  background-color: #9cd9e1;
  padding: 10px 20px;
  color: #1b3d49;
  font-weight: bolder;
  font-family: 'Abel', sans-serif;
  color: #1b3d49;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#signinFormButton:hover {
  margin-left: -2.5em;
  border-radius: 50px;
  border-width: 0%;
  border: 0pt;
  background-color: blue;
  padding: 10px 20px;
  color: white;
  font-weight: bolder;
  font-family: 'Abel', sans-serif;
}

#bored {
  font-family: 'Abel', sans-serif;
  color: #cdebef;
  font-size: medium;
}

