
#footer {
    background-color:#2a3246;
    text-align: center;
    width: 100%;
    bottom: 0;
}

.p {
    color: #ffe4b2;
    font-size: 16px;
    font-weight:200;
    padding-top: 2rem;
    padding-bottom: 0.1rem;
    font-family: "Josefin Sans", sans-serif;
}

.logoFooter{
    /* text-align: center; */
    padding-top: 2rem;
    align-items: left;
    /* align-self: center;
    justify-content: center; */
    margin-left: 2rem;
    margin-right: 2rem;
    padding-bottom: 2rem;
}

.footerCenter {
    text-align: center;
    /* flex: 6; */
    list-style: none;
    text-decoration: none;
    align-items: center;
    align-self: center;
  }
  
  /* .footerList {
    list-style: none;
    text-decoration: none;
    margin: 5rem;
    align-items: center;
    align-self: center;
  } */
  
  .footerListItem {
    list-style: none;
    margin-top: 1rem;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    font-family: "Josefin Sans", sans-serif;
    color: #e1f1f9;
    text-decoration: none;
  }
  
  .footerListItem:hover{
      color: #ffe4b2;
      font-family: "Josefin Sans", sans-serif;
      text-decoration: none;
  }
  
  .footerLink {
    color:#e1f1f9;
    text-decoration: none;
  }
  
  .footerLink:hover {
    color: #ffe4b2;
  }